.env
.venv
db.sqlite3
logs
.vscode


__pycache__/
*.py[cod]
*$py.class

*/__pycache__
apps/__pycache__
apps/*/__pycache__

TODO.md
CLAUDE.md
CLAUDETZ.md
CLAUDEFRONT.md
docs/
data/
api.i37.uz.yaml
frontend/node_modules/